{
  "root": true,
  "extends": ["@guanghechen", "@guanghechen/jsx", "prettier"],
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "jest": true,
    "node": true
  },
  "rules": {},
  "overrides": [
    {
      "files": ["**/*.ts", "**/*tsx"],
      "extends": ["@guanghechen", "@guanghechen/jsx", "@guanghechen/ts", "prettier"],
      "rules": {
        "import/no-named-as-default": 0,
        "@typescript-eslint/no-empty-interface": 0
      }
    }
  ]
}
