**/*.*
!**/*.ts
!**/*.tsx
!**/*.js
!**/*.jsx
!**/*.json
!.eslintignore
!.eslintrc

**/.cache/
**/.vscode/
**/__test__/cases/
**/__tmp__/
**/coverage/
**/boilerplate/
**/demo/
**/dist/
**/doc/
**/doc-data/
**/example/
**/fixtures/
**/lib/
**/node_modules/
**/public/
**/resource/
**/resources/
**/test/
**/*.styl.d.ts